<div class="container about">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <mat-card>
        <div class="title">
          <h1>About me</h1>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <img src="../../assets/my-profile.jpg" class="img-fluid"
                alt="Responsive image">
            </div>
            <div class="col-lg-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit neque. Orci varius natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
          </div>
        </div>

        <div class="container icons">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-2">
              <a href="https://github.com/"><i class="fab fa-github"></i></a>
            </div>
            <div class="col-2">
              <a href="https://stackoverflow.com/"><i class="fab fa-stack-overflow"></i></a>
            </div>
            <div class="col-2">
              <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="col-3"></div>
          </div>
        </div>

        <div class="main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit neque. Orci varius
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante
          ipsum primis in faucibus. Maecenas ac est in purus vulputate maximus a bibendum diam. Maecenas lacinia, nisi
          vitae vulputate sagittis, felis sapien dignissim turpis, ut euismod ipsum quam id sem. Proin malesuada at elit
          in auctor. Ut lobortis justo faucibus suscipit facilisis. Sed tortor urna, finibus vel quam vitae, mattis
          suscipit magna. Sed aliquam nunc in est tempus posuere. Vestibulum at mauris tellus. Fusce at lectus orci.
        </div>
      </mat-card>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>