<div class="container-fluid">
    <div class="row top-content">
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
        <div class="col-sm-4 item-top-space"><app-article-item></app-article-item></div>
    </div>
</div>