<div class="article">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <mat-card>
          <div class="top">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <span class="date">{{article.date | date: 'longDate'}}</span>
                </div>
                <div class="col-md-12 title">
                  <h1>{{article.title}}</h1>
                </div>
                <div class="col-md-12">
                  <mat-chip-list>
                    <mat-chip *ngFor="let item of article.tags">{{item}}</mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <div class="row image-area">
                <div class="col-md-6"><img [src]="getImage()" alt="..." class="img-thumbnail"></div>
                <div class="col-md-6"> {{article.shortText}}</div>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="content">
              <div [innerHTML]="content"></div>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>