<div class="article">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <mat-card>
          <div class="top">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <span class="date">{{getSampleDate() | date: 'longDate'}}</span>
                </div>
                <div class="col-md-12">
                  <h1>Lorem ipsum dolor</h1>
                </div>
                <div class="col-md-12">
                  <mat-chip-list>
                    <mat-chip>Angular</mat-chip>
                    <mat-chip>TypeScript</mat-chip>
                    <mat-chip>Security</mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <div class="row image-area">
                <div class="col-md-6"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="..."
                    class="img-thumbnail"></div>
                <div class="col-md-6"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non elit
                  neque. Orci varius</div>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="content">
            <div>
              <span class="article-tab"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non
              elit
              neque. 
              
              <pre><code class="language-css">p  &#123; color: red &#125;</code></pre>
              Orci varius
              natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac
              ante
              ipsum primis in faucibus. Maecenas ac est in purus vulputate maximus a bibendum diam. Maecenas lacinia,
              nisi
              vitae vulputate sagittis, felis sapien dignissim turpis, ut euismod ipsum quam id sem. Proin malesuada at
              elit
              in auctor. 

<pre><code class="language-typescript">@Component(&#123;
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.less']
&#125;
export class AppComponent &#123;
  title = 'angular-blog';
&#125;
</code></pre>
              
              Ut lobortis justo faucibus suscipit facilisis. Sed tortor urna, finibus vel quam vitae, mattis
              suscipit magna. Sed aliquam nunc in est tempus posuere. Vestibulum at mauris tellus. Fusce at lectus orci.
            </div>

            <div class="article-break">
              <span class="article-tab"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non
              elit
              neque. Orci varius
              natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac
              ante
              ipsum primis in faucibus. Maecenas ac est in purus vulputate maximus a bibendum diam. Maecenas lacinia,
              nisi
              vitae vulputate sagittis, felis sapien dignissim turpis, ut euismod ipsum quam id sem. Proin malesuada at
              elit
              in auctor. Ut lobortis justo faucibus suscipit facilisis. Sed tortor urna, finibus vel quam vitae, mattis
              suscipit magna. Sed aliquam nunc in est tempus posuere. Vestibulum at mauris tellus. Fusce at lectus orci.
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>