.article {
    margin-top: 30px;
    margin-bottom: 30px;

    mat-card {
        font-family: monospace;
        font-size: 20px;
    }

    .top {
        margin-bottom: 25px;
    }

    .content {
        margin-top: 45px;
    }

    .image-area {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}