@import '../../styles/media.less';


.container-fluid {
    background-color: rgba(26, 119, 211, 1);
}
.top-menu {
    height: 260px;
} 

.top-content {
    height: 40px;
}

.center-vertical {
    top:20%;
    margin-left: -15px;
}

.icon {
    max-height:150px;

    @media (max-width: @screen-xs) {
        max-height: 90px;
    }
    
    @media (max-width: @screen-sm) {
        max-height: 120px;
    }
}

.btn {
    color: white;
    border-color: white;
    opacity: 0.8;
    margin-right: 5px;
    margin-top: 5px;
}

.move-left {
    padding-left: -10%;
}

.title-top {
    color: white;
    display:contents;

    @media (max-width: @screen-sm) {
        font-size: 12px;
    }
    margin-left: -25px;
}

.title-middle {
    color: white;
    font-weight: bold;
    font-size: 34px;
    
    @media (max-width: @screen-xs) {
        font-size: 20px;
    }
    
    @media (max-width: @screen-sm) {
        font-size: 24px;
    }
}

.title-bottom {
    color: white;
    opacity: 0.9;
    display:contents;
    @media (max-width: @screen-sm) {
        font-size: 11px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    margin-left: -25px;
}

.top-img {
    position: absolute;
    height: 300px;
    width:100%;
    left: 0px;
    opacity: 0.05;
    background-image: url('../../assets/top-menu-img.png');
}

.bracket {
    color: fuchsia;
    font-size: 20px;
    font-weight: bold;
    margin-top: -4px;
}

.space {
    width: 4px;
}