<div class="container-fluid">
  <div class="row top-content">
      <div class="col-5"></div>
      <div class="col-7 right">
          <button mat-stroked-button class="btn">Blog</button>
          <button mat-stroked-button class="btn">About me</button>
      </div>
  </div>
  <div class="row top-menu">

    <div class="col-4 center">
      <img class="icon" src="../../assets/angular-icon.png">
    </div>
    <div class="col-8 center-vertical">
      <div class="row title-top">
          Simple blog
      </div>
      <div class="row title-bottom">
          Built on Angular Materials
      </div>
      
    </div>
  </div> 
</div>