<div class="container-fluid">
  <div class="top-img"></div>
  <div class="row top-content">
      <div class="col-5"></div>
      <div class="col-7 text-right">
          <button routerLink="/blog" mat-stroked-button class="btn">Blog</button>
          <button routerLink="/about" mat-stroked-button class="btn">About me</button>
      </div>
  </div>
  <div class="row top-menu">

    <div class="col-4 center">
      <img class="icon" src="../../assets/blog-icon.png">
    </div>
    <div class="col-8 center-vertical">
      <div class="row title-top">
          <span class="bracket">@</span> 
          <span class="space"></span>Fast 
          <span class="space"></span> <span class="space"></span> 
          <span class="bracket">@</span> 
          <span class="space"></span>Customizable
          <span class="space"></span> <span class="space"></span> 
          <span class="bracket">@</span> 
          <span class="space"></span>Simple
      </div>
      <div class="row title-middle">
          Blog template
      </div>
      <div class="row title-bottom">
          
          <div>
              Built on 
              <span class="bracket">&#123;</span>
              Angular Materials,  Bootstrap
              <span class="bracket">&#125;</span> 
              <br>
          </div>
      </div>
      
    </div>
  </div> 
</div>